<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnQO7Iuvbjuf8I2qhG8WzRqeVm55P_zog</string>
	<key>GCM_SENDER_ID</key>
	<string>254575177319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nylo.ios</string>
	<key>PROJECT_ID</key>
	<string>invoicefoxy</string>
	<key>STORAGE_BUCKET</key>
	<string>invoicefoxy.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254575177319:ios:276452b50fb10f1df9aec2</string>
</dict>
</plist>